@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f5f7fb;
  overflow-y: hidden;
}

a {
  color: #1f4173;
  text-decoration: none;
}

.content_fix {
  max-width: 95%;
  margin: 0 auto;
}

.wrap_content_ad {
  height: calc(100vh - 70px);
  overflow-y: scroll;
  padding-bottom: 20px;
}

.wrap_content_ad::-webkit-scrollbar {
  display: none;
}

.hide_scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #ffffff;
  opacity: 0;
}

.hide_scroll::-webkit-scrollbar {
  width: 2px;
  background-color: #ffffff;
  opacity: 0;
}

.hide_scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0px rgb(255, 255, 255);
  background-color: #ffffff;
  opacity: 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrap_content_ad {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

input[type=date] {
  background-color: #003ad2;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.global_btn {
  background-color: #003ad2;
  color: white;
  border-radius: 10px;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  cursor: pointer;
}
.global_btn a {
  color: white;
}
.global_btn:disabled {
  opacity: 0.5;
}
.global_btn:focus, .global_btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.side_bar_item {
  position: relative;
}

.side_bar_item.active::after {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  bottom: -7px;
  background: #003ad2;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

.main {
  display: flex;
}
.main .side_bar {
  height: 100vh;
  width: 180px;
  padding: 0 10px;
  position: relative;
  transition: all linear 0.5s;
  background: #ffffff;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.main .side_bar .control_sidebar {
  padding: 5px;
  border-radius: 3px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  background-color: #003ad2;
}
.main .side_bar .control_sidebar svg {
  rotate: 180deg;
}
.main .side_bar .logo {
  padding: 20px 0;
}
.main .side_bar .side_bar_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px 0;
  margin-top: 40px;
  width: 100%;
  overflow: hidden;
}
.main .side_bar .side_bar_item {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 150px;
  gap: 10px;
}
.main .side_zoom {
  width: 30px;
  padding: 0 20px;
  z-index: 999;
}
.main .side_zoom .control_sidebar {
  right: -27px;
}
.main .side_zoom .control_sidebar svg {
  rotate: 0deg;
}
.main .side_zoom .side_bar_wrap {
  overflow: unset;
}
.main .side_zoom .side_bar_wrap .side_bar_item {
  min-width: 30px;
  justify-content: center;
}
.main .side_zoom .side_bar_wrap p {
  display: none;
}
.main .content {
  flex: 1;
}
.main .content .header {
  padding: 15px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 68px -31px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 10px 68px -31px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 10px 68px -31px rgba(0, 0, 0, 0.64);
}
.main .content .header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main .content .header .header_time {
  width: 350px;
  font-size: 25px;
  color: #003ad2;
}
.main .content .header .header_time .welcome {
  font-size: 20px;
}
.main .content .wrap_nav {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.main .content .nav_item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.main .content .nav_search {
  padding: 7px 15px;
  position: relative;
  border-radius: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f7fb;
}
.main .content .nav_search input {
  background-color: transparent;
  border: none;
  outline: none;
}
.main .nav_profile {
  position: relative;
}
.main .nav_profile .img-md,
.main .nav_profile .avatar-img {
  user-select: none;
}
.main .nav_profile .img-md {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  pointer-events: none;
}
.main .nav_profile .nav_profile_show {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-align: center;
  gap: 5px;
  color: #1f4173;
}
.main .nav_profile .nav_profile_show .profi-name {
  pointer-events: none;
}
.main .nav_profile .dropdown-menu {
  z-index: 100;
  height: 0;
  overflow: hidden;
  position: absolute;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  left: auto;
  right: 0;
  top: 50px;
  padding: 0 20px;
  transition: height 0.25s linear;
}
.main .nav_profile .dropdown-menu .show {
  height: auto;
}
.main .nav_profile .dropdown-menu .cotrol-user {
  display: flex;
  flex-direction: column;
}
.main .nav_profile .dropdown-menu .cotrol-user .dropdown-item {
  padding: 10px 10px;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background 0.25s linear;
  font-size: 14px;
}
.main .nav_profile .dropdown-menu .cotrol-user .dropdown-item:hover {
  background-color: #ccc;
}
.main .nav_profile .dropdown-menu .cotrol-user .dropdown-item:last-child {
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .main .content .wrap_nav {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  .main .side_bar {
    position: fixed;
    z-index: 999;
  }
  .main .side_zoom {
    position: fixed;
    top: 0;
    transform: translateX(-100%);
  }
  .main .content .header_flex {
    justify-content: center;
  }
}
.content_dashboard_header {
  padding: 20px 0;
}
.content_dashboard_header p {
  font-weight: 600;
  font-size: 24px;
  color: #1f4173;
}
.content_dashboard_statistical {
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
  gap: 20px 0;
}
.content_dashboard_statistical .dashboard_card_list {
  font-size: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item {
  padding: 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item h4 {
  font-weight: 600;
  font-size: 42px;
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item:first-child {
  background: linear-gradient(89.69deg, #f39034 2.03%, #ff2727 99.73%);
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item:nth-child(2) {
  background: linear-gradient(270deg, #003ad2 0%, #0097ec 100%);
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item:nth-child(3) {
  background: linear-gradient(270.23deg, #00a843 0.19%, #1fd071 99.8%);
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item:nth-child(4) {
  background: linear-gradient(269.97deg, #5900c9 0.02%, #9852f0 99.98%);
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item .card_header p {
  font-weight: 700;
  font-size: 14px;
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item .card_footer p {
  font-weight: 400;
  font-size: 14px;
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item .card_header,
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item .card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item_2 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item_2 .card_header_2 {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item_2 .card_header_2 p {
  font-weight: 700;
  font-size: 14px;
  color: #1f4173;
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item_2 .card_footer_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_dashboard_statistical .dashboard_card_list .dashboard_card_item_2 .card_footer_2 p {
  font-weight: 600;
  font-size: 32px;
  color: #1f4173;
}
.content_dashboard_statistical .dashboard_list_table {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_item_1 {
  background: #ffffff;
  padding: 25px;
  overflow: hidden;
  border-radius: 20px;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_item_1 .dashboard_table_item_1_header {
  font-weight: 700;
  font-size: 16px;
  color: #1f4173;
  margin-bottom: 20px;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_input,
.content_dashboard_statistical .dashboard_list_table .dashboard_table_search_tab,
.content_dashboard_statistical .dashboard_list_table .dashboard_table_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_search {
  margin: 20px 0;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_input {
  border-bottom: 1px solid #e6eaf0;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_input input {
  border: none;
  outline: none;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_input .table_icon_search {
  cursor: pointer;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_list {
  max-height: 300px;
  overflow-y: scroll;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_list .dashboard_table_list_item {
  border-bottom: 1px solid #e6eaf0;
  padding: 10px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_list .dashboard_table_list_item p {
  text-align: center;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_list .dashboard_table_list_item .table_item_id {
  color: #003ad2;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_list .dashboard_table_list_item .table_item_customer {
  color: #1f4173;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_list .dashboard_table_list_item .table_item_status {
  padding: 3px 0;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_list .dashboard_table_list_item .table_item_status.danger {
  background: #facccc;
  border-radius: 5px;
  color: #e80000;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_list .dashboard_table_list_item .table_item_status.success {
  background: #b5f4ce;
  border-radius: 5px;
  color: #16c35b;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_list .dashboard_table_list_item_head {
  font-weight: 700;
  font-size: 12px;
  color: #1f4173;
}
.content_dashboard_statistical .dashboard_list_table .dashboard_table_list .dashboard_table_list_item_content {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}
.content_dashboard_statistical .dashboard_list_table .wrap_top_salary {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.content_dashboard_statistical .dashboard_list_table .wrap_top_salary .wrap_top_salary_item {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}
.content_dashboard_statistical .dashboard_list_table .wrap_top_salary .top_salary_avatar {
  border-radius: 10px;
  height: 80px;
  width: 50px;
  object-fit: cover;
  user-select: none;
}
.content_dashboard_statistical .dashboard_list_table .wrap_top_salary .top_salary_name {
  font-weight: 400;
  font-size: 14px;
  color: #003ad2;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content_dashboard_statistical .dashboard_list_table .wrap_top_salary .top_salary_money {
  font-weight: 700;
  font-size: 14px;
  color: #1f4173;
}
.content_dashboard_statistical .chart-container {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
}
.content_dashboard_statistical .dashboard_manage_end,
.content_dashboard_statistical .dashboard_manage_uni {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item,
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_item {
  padding: 25px;
  background-color: white;
  border-radius: 20px;
}
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_list,
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_list {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 20px;
}
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_content,
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_title,
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_item_content,
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_item_title {
  border-bottom: 1px solid #e6eaf0;
  padding: 10px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_content p:nth-child(2), .content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_content p:nth-child(3),
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_title p:nth-child(2),
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_title p:nth-child(3),
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_item_content p:nth-child(2),
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_item_content p:nth-child(3),
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_item_title p:nth-child(2),
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_item_title p:nth-child(3) {
  max-width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_title,
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_item_title {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f4173;
}
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_content,
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_item_content {
  font-weight: 400;
  font-size: 14px;
  color: #1f4173;
}
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_content p:first-child,
.content_dashboard_statistical .dashboard_manage_uni .dashboard_manage_item_content p:first-child {
  color: #003ad2;
}
.content_dashboard_statistical .dashboard_manage_end_head,
.content_dashboard_statistical .dashboard_manage_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_dashboard_statistical .dashboard_manage_end_head p,
.content_dashboard_statistical .dashboard_manage_head p {
  font-weight: 700;
  font-size: 16px;
  color: #1f4173;
}
.content_dashboard_statistical .dashboard_table_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #e6eaf0;
}
.content_dashboard_statistical .dashboard_table_input input {
  border: none;
}
.content_dashboard_statistical .dashboard_manage_end {
  display: block;
}
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_content,
.content_dashboard_statistical .dashboard_manage_end .dashboard_manage_item_title {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}
.content_dashboard_statistical .dashboard_manage_end_table {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}
.content_dashboard_statistical .dashboard_manage_end_table .dashboard_manage_list {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 20px;
}
.content_dashboard_statistical .dashboard_manage_end_table .dashboard_manage_search {
  flex: 1;
  max-width: 300px;
}
.content_dashboard_statistical .dashboard_manage_end_table .dashboard_manage_search input {
  width: 100%;
}

@media screen and (max-width: 740px) {
  .content_dashboard_statistical .dashboard_card_list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .content_dashboard_statistical .dashboard_manage_uni,
.content_dashboard_statistical .dashboard_list_table {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.staff_manage_heading {
  font-weight: 600;
  font-size: 34px;
  color: #1f4173;
  margin: 30px 0;
}

.table_staff_manage_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.table_staff_manage_search .add_new_staff {
  display: flex;
  gap: 0 10px;
}
.table_staff_manage_search .add_new_staff button {
  padding: 10px 20px;
  border-radius: 100rem;
  border: none;
  background-color: #003ad2;
}
.table_staff_manage_search .add_new_staff button a {
  color: #ffffff;
}
.table_staff_manage_search .table_staff_manage_search_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #e6eaf0;
  flex: 1;
  max-width: 400px;
}
.table_staff_manage_search .table_staff_manage_search_input input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.table_staff_manage {
  padding: 10px;
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.table_staff_manage .table_staff_manage_head {
  font-weight: 600;
  color: #1f4173;
  position: sticky;
  z-index: 10;
  top: -1px;
  background-color: #ffffff;
}
.table_staff_manage tr {
  border-bottom: 1px solid #e6eaf0;
  height: 70px;
  font-size: 14px;
}
.table_staff_manage .table_staff_manage_body td p {
  max-width: 140px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 auto;
}
.table_staff_manage .table_staff_manage_body tr {
  position: relative;
}
.table_staff_manage .table_staff_manage_body .column7 .danger {
  background: #facccc;
  border-radius: 5px;
  color: #e80000;
  padding: 10px 0;
}
.table_staff_manage .table_staff_manage_body .column7 .success {
  background: #b5f4ce;
  border-radius: 5px;
  color: #16c35b;
  padding: 10px 0;
}
.table_staff_manage .column1 img {
  max-height: 60px;
  max-width: 40px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 5px;
}
.table_staff_manage .column8 a {
  padding: 5px;
  border: 4px;
  cursor: pointer;
}
.table_staff_manage .column8 a:nth-child(2) {
  color: #00ada3;
}
.table_staff_manage .action_salary {
  display: block;
  color: #003ad2;
  cursor: pointer;
}
.table_staff_manage .remove_staff {
  color: #e80000;
  cursor: pointer;
}

.btn-sort {
  padding: 3px 10px;
  border: none;
  background-color: #003ad2;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
}

.table_staff_manage_search .form_sort_salary {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.table_staff_manage_search .form_sort_salary button {
  padding: 3px 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
}

.wrap_form_add_staff {
  padding: 20px;
}
.wrap_form_add_staff .field_form {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.wrap_form_add_staff .field_form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #d7dbe0;
  border-radius: 5px;
  outline: none;
}
.wrap_form_add_staff .field_form label {
  display: block;
  font-weight: 700;
  color: #1f4173;
}
.wrap_form_add_staff .field_form select {
  border-radius: 5px;
  padding: 5px;
  border: #003ad2;
  background-color: white;
  padding-left: 0;
}
.wrap_form_add_staff .form_add_staff_heading {
  font-weight: 600;
  font-size: 24px;
  color: #1f4173;
  margin-bottom: 20px;
}
.wrap_form_add_staff .form_add {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.wrap_form_add_staff .from_add_avatar_lable {
  height: 150px;
  width: 150px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-radius: 100rem;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_form_add_staff .from_add_avatar_lable .img_upload {
  width: 60px;
  height: 60px;
}
.wrap_form_add_staff .from_add_avatar_lable img {
  object-fit: cover;
}
.wrap_form_add_staff .from_add_avatar_lable .img_peview {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.wrap_form_add_staff .list_province {
  position: absolute;
  display: none;
  background-color: white;
  width: 100%;
  list-style: none;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 10;
}
.wrap_form_add_staff .list_province li {
  padding: 10px;
  cursor: pointer;
}
.wrap_form_add_staff .list_province li:hover {
  background-color: bisque;
}
.wrap_form_add_staff .input_province {
  position: relative;
}
.wrap_form_add_staff .list_province.open {
  display: block;
}
.wrap_form_add_staff .one_column_input {
  padding-bottom: 25px;
  position: relative;
}
.wrap_form_add_staff .one_column_input .error_from {
  position: absolute;
  bottom: 0;
  color: red;
  font-size: 14px;
}
.wrap_form_add_staff .btn_add_staff {
  padding: 15px 20px;
  background-color: #003ad2;
  color: white;
  font-weight: 600;
  outline: none;
  display: block;
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.wrap_form_add_staff .btn_open_modal {
  margin: 10px 0;
}

@media screen and (max-width: 870px) {
  .wrap_form_add_staff .field_form {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 470px) {
  .wrap_form_add_staff .field_form {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.list_address {
  margin-top: 20px;
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list_address_item {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.active {
  opacity: 1;
}

.list_address_check {
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  margin: 10px;
  border: 1px solid #ccc;
}

.active .list_address_check {
  background-color: cornflowerblue;
}

.user_name_order {
  font-weight: 600;
}

.user_add_order,
.user_details_order {
  color: #a8a29e;
  font-size: 14px;
}

.user_details_order {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.modal__header .modal__close:before {
  content: "✕";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #003ad2;
  color: #fff;
}

.modal__btn_add {
  background-color: #f62682;
  color: white;
}

/**************************\
        Demo Animation Style
      \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal__content_one_product {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* toogle  */
.switch {
  position: relative;
  cursor: pointer;
  width: 80px;
  height: 35px;
  display: block;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: #000;
  border-radius: 100rem;
  transition: background-color 0.25s linear;
}

.switch:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-color: #fff;
  top: 2px;
  left: 3px;
  transition: background-color 0.25s linear, transform 0.25s linear;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch {
  background-color: #6a5af9;
}

.switch-input:checked + .switch:after {
  transform: translateX(42px);
  background-color: white;
}

.wrap_btn_status {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.status_bill {
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.25s linear;
}

.status_pending {
  background-color: #fdc1c1;
  color: rgb(253, 65, 65);
}

.status_approved {
  background-color: #dcfce7;
  color: rgb(18, 218, 58);
}

/* comment */
.list_product_comment {
  height: 300px;
}

.modal__content2 {
  min-height: 200px;
}

.list_comment_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.btn_remove_comment {
  background-color: rgb(249, 222, 222);
  color: red;
}

.btn_view_comment {
  background-color: rgb(222, 229, 249);
  color: rgb(86, 48, 254);
}

.list_comment_item .modal_action {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.from_excel_import {
  margin: 20px 0;
}
.from_excel_import input {
  width: 200px;
  font-size: 12px;
}

.form_modal_excel {
  width: 400px;
}
.form_modal_excel label {
  font-size: 20px;
  color: #003ad2;
  margin: 20px 0;
  display: block;
}

.modal__footer {
  margin: 20px 0;
}

.modal__content2 .one_field {
  margin: 10px 0;
}
.modal__content2 .one_field input {
  width: 100px;
  border: 1px solid #d7dbe0;
  padding: 3px;
  outline: none;
  border-radius: 3px;
}
.modal__content2 .one_field select {
  border-radius: 5px;
  padding: 5px;
  border: #003ad2;
  background-color: white;
  padding-left: 0;
}
.modal__content2 .one_field label {
  display: block;
}
.modal__content2 .one_field .wrap_help {
  position: relative;
}
.modal__content2 .one_field .help_timeline {
  display: none;
  position: absolute;
  background-color: rgb(123, 114, 244);
  color: white;
  font-size: 14px;
  padding: 10px;
  z-index: 1000;
  border-radius: 10px;
}
.modal__content2 .one_field .open_help {
  width: 20px;
  height: 20px;
  color: #003ad2;
  cursor: pointer;
}
.modal__content2 .one_field .open_help:hover + .help_timeline {
  display: block;
}

.modal_detail_page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.modal_detail_page .modal__container_edit {
  display: none;
}

.modal__container_edit {
  width: 300px;
}
.modal__container_edit .old_ca {
  padding: 5px;
  background: #b5f4ce;
  border-radius: 5px;
  color: #16c35b;
  display: inline-block;
  margin: 5px 0;
}

.modal__container_add {
  display: none;
}

.modal_salary_content {
  width: 550px;
}

.btn_detail {
  display: block;
  margin: 0 auto;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 600;
  background-color: #003ad2;
  border: none;
  border-radius: 4px;
}
.btn_detail a {
  color: white;
}

.loading_main {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.995);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading_main .loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
.loading_main .inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loading_main .inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #efeffa;
}
.loading_main .inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #efeffa;
}
.loading_main .inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #efeffa;
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.main_login {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg-auth.jpg);
  background-size: 100%;
}
.main_login .forgot_pass {
  color: #003ad2;
  cursor: pointer;
}
.main_login .wrap_from {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.main_login .wrap_from form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  gap: 20px 0;
}
.main_login .wrap_from form .one_field {
  width: 100%;
  padding-bottom: 5px;
  position: relative;
}
.main_login .wrap_from form .one_field .error_from {
  position: absolute;
  top: 100%;
  color: red;
  font-size: 14px;
}
.main_login .wrap_from form label {
  display: block;
  cursor: pointer;
}
.main_login .wrap_from form input {
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #d7dbe0;
  outline: none;
}
.main_login .wrap_from h3 {
  font-size: 30px;
  color: #003ad2;
  margin-bottom: 20px;
}

.attendance .profile_user {
  display: flex;
  gap: 30px;
  height: 230px;
  padding: 20px;
}
.attendance .profile_user .profile_avatar {
  padding: 20px 20px 0px;
  background-color: #1f4173;
  border-radius: 12px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.attendance .profile_user .profile_avatar img {
  width: 100px;
  height: 100px;
  border-radius: 100rem;
}
.attendance .profile_user .profile_avatar p {
  color: white;
  font-weight: 600;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.attendance .profile_user .attendance_time {
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
  gap: 20px;
}
.attendance .profile_user .attendance_time h3 {
  font-size: 25px;
  font-weight: 600;
  color: #1f4173;
}
.attendance .profile_user .attendance_time p {
  font-size: 14px;
  color: #1f4173;
}
.attendance .warp_calendar {
  padding: 20px;
}
.attendance .warp_calendar .fc-event-title {
  color: white;
}
.attendance .warp_calendar .fc .fc-daygrid-day.fc-day-today {
  background-color: inherit !important;
}
.attendance .warp_calendar table {
  border-radius: 5px;
}
.attendance .warp_calendar table thead th {
  background-color: #1f4173;
}
.attendance .warp_calendar table thead th a {
  color: white;
}
.attendance .warp_calendar table .fc-daygrid-day-number {
  color: #003ad2;
  font-weight: 600;
}

.detail_page_main {
  display: flex;
  padding: 20px 0;
  gap: 20px;
}
.detail_page_main .staff_profile {
  width: 30%;
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.detail_page_main .staff_profile img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.detail_page_main .staff_profile .staff_name {
  font-size: 25px;
  font-weight: 600;
  color: #1f4173;
}
.detail_page_main .staff_attendance {
  flex: 1;
}

.table_modal {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-collapse: collapse;
  text-align: center;
}
.table_modal tr {
  border-bottom: 1px solid #e6eaf0;
}
.table_modal tbody .column4 {
  cursor: pointer;
}

.btn_add_att {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

@media screen and (max-width: 860px) {
  .detail_page_main {
    flex-wrap: wrap;
  }
  .detail_page_main .staff_profile {
    width: 100%;
  }
}
@keyframes bounce-loader {
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}
.toast-sendmail {
  position: absolute;
  padding: 10px;
  height: 47px;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 145px;
  border-radius: 5px;
  background-color: #3085d6;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.bounce-loading {
  display: flex;
  justify-content: center;
}

.bounce-loading > div {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
  background: #ffffff;
  border-radius: 50%;
  animation: bounce-loader 0.6s infinite alternate;
}

.bounce-loading > div:nth-child(2) {
  animation-delay: 0.15s;
}

.bounce-loading > div:nth-child(3) {
  animation-delay: 0.3s;
}

.bounce-loading > div:last-child {
  animation-delay: 0.45s;
}

.detail_page_main #info_staff {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.detail_page_main #info_staff .one_column_input label {
  display: block;
  font-weight: 600;
  color: #1f4173;
}
.detail_page_main #info_staff .one_column_input input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

.form_modal_pass {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form_modal_pass input {
  width: 100%;
  padding: 5px;
  border: 1px solid #d7dbe0;
  outline: none;
}

.wrap_img_crop {
  display: flex;
  justify-content: unset;
  align-items: unset;
}
.wrap_img_crop .col-md-8 {
  width: 60%;
}
.wrap_img_crop .col-md-4 {
  width: 30%;
}

#image {
  display: block;
  max-width: 100%;
}

.modal__content4 {
  width: 80%;
  height: 90%;
  max-width: none;
}

.modal__content6 {
  display: flex;
}
.modal__content6 .wrap_img {
  width: 80%;
}
.modal__content6 .wrap_img img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}
.modal__content6 .img_preview {
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin: 10px;
  border: 1px solid red;
}
.modal__content6 .modal__footer {
  margin: 10px;
}
.modal__content6 #img_crop {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 470px) {
  .detail_page_main #info_staff {
    grid-template-columns: repeat(1, 1fr);
  }
}
.wrap_department {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  gap: 10px;
}
.wrap_department .form_add_department_wrap {
  width: 50%;
}
.wrap_department .form_add_department_wrap .from_add_department_heading {
  font-size: 25px;
  color: #1f4173;
  font-weight: 600;
}
.wrap_department .form_add_department_wrap .form_add_department {
  margin-top: 10px;
}
.wrap_department .form_add_department_wrap .form_add_department .one_field {
  padding-bottom: 25px;
  position: relative;
  margin-bottom: 5px;
}
.wrap_department .form_add_department_wrap .form_add_department .one_field .error_from {
  position: absolute;
  bottom: 0;
  color: red;
}
.wrap_department .form_add_department_wrap .form_add_department .one_field label {
  display: block;
  font-weight: 600;
  color: #1f4173;
}
.wrap_department .form_add_department_wrap .form_add_department .one_field input {
  width: 100%;
  border: 1px solid #d7dbe0;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}
.wrap_department .form_add_department_wrap .form_add_department button {
  display: block;
  margin: 0 auto;
}
.wrap_department .list_department {
  margin-top: 30px;
  width: 40%;
  max-height: 300px;
  overflow-y: scroll;
}
.wrap_department .list_department table {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.wrap_department .list_department table tbody span {
  cursor: pointer;
}
.wrap_department .list_department table tbody svg {
  width: 19px;
  height: 19px;
  color: #28d915;
  pointer-events: none;
}
.wrap_department .list_department table tbody .wrap_active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.wrap_department .list_department table .list_department_header th {
  font-size: 20px;
  font-weight: 600;
  color: #1f4173;
}
.wrap_department .list_department table tr {
  border-bottom: 1px solid #f0e6e6;
  height: 40px;
  font-size: 14px;
}

@media screen and (max-width: 870px) {
  .wrap_department {
    flex-wrap: wrap;
  }
  .wrap_department .list_department,
.wrap_department .form_add_department_wrap {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
