.detail_page_main {
  display: flex;
  padding: 20px 0;
  gap: 20px;
  .staff_profile {
    width: 30%;
    @include flex($jus: unset);
    flex-direction: column;
    gap: 10px;
    img {
      width: 200px;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
    }
    .staff_name {
      font-size: 25px;
      font-weight: 600;
      color: $primary-color;
    }
  }
  .staff_attendance {
    flex: 1;
  }
}
.table_modal {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-collapse: collapse;
  text-align: center;
  tr {
    border-bottom: 1px solid #e6eaf0;
  }
  tbody .column4 {
    cursor: pointer;
  }
}
.btn_add_att {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}
@include maxw(860px) {
  .detail_page_main {
    flex-wrap: wrap;
    .staff_profile {
      width: 100%;
    }
  }
}
