@mixin flex($aItem: center, $jus: center) {
  display: flex;
  justify-content: $jus;
  align-items: $aItem;
}
@mixin center($left: 50%, $tranlef: -50%, $top: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, $tranlef);
}

@mixin text($width) {
  max-width: $width;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin grid($cols, $gap) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($cols, 1fr);
}
@mixin btn($roud, $bg: $main-color) {
  display: inline-block;
  background-color: $bg;
  border-radius: $roud;
  color: white;
  text-align: center;
  cursor: pointer;
}
@mixin maxw($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin minw($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
