.main {
  display: flex;
  .side_bar {
    height: 100vh;
    width: 180px;
    padding: 0 10px;
    position: relative;
    transition: all linear 0.5s;
    background: #ffffff;
    .control_sidebar {
      padding: 5px;
      border-radius: 3px;
      color: white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      cursor: pointer;
      background-color: $blue_color;
      svg {
        rotate: 180deg;
      }
    }
    @include flex($jus: start);
    flex-direction: column;
    .logo {
      padding: 20px 0;
    }
    .side_bar_wrap {
      @include flex;
      flex-direction: column;
      gap: 20px 0;
      margin-top: 40px;
      width: 100%;
      overflow: hidden;
    }
    .side_bar_item {
      @include flex($jus: start);
      min-width: 150px;
      gap: 10px;
    }
  }
  .side_zoom {
    // position: fixed;
    // transform: translateX(-100%);
    width: 30px;
    padding: 0 20px;
    z-index: 999;
    .control_sidebar {
      right: -27px;
      svg {
        rotate: 0deg;
      }
    }
    .side_bar_wrap {
      overflow: unset;
      .side_bar_item {
        min-width: 30px;
        justify-content: center;
      }
      p {
        display: none;
      }
    }
  }
  .content {
    .header {
      padding: 15px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 10px 68px -31px rgba(0, 0, 0, 0.64);
      -moz-box-shadow: 0px 10px 68px -31px rgba(0, 0, 0, 0.64);
      box-shadow: 0px 10px 68px -31px rgba(0, 0, 0, 0.64);
      &_flex {
        @include flex($jus: space-between);
      }
      .header_time {
        .welcome {
          font-size: 20px;
        }
        font-size: 25px;
        color: $blue_color;
        width: 310px;
      }
    }
    flex: 1;
    .wrap_nav {
      list-style: none;
      @include flex($jus: start);
      gap: 10px;
    }
    .nav_item {
      @include flex($jus: start);
      gap: 10px;
    }
    .nav_search {
      padding: 7px 15px;
      position: relative;
      border-radius: 10px;
      width: 300px;
      @include flex($jus: space-between);
      background-color: #f5f7fb;
      input {
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
  .nav_profile {
    position: relative;
    .img-md,
    .avatar-img {
      user-select: none;
    }
    .img-md {
      width: 40px;
      height: 40px;
      border-radius: 100rem;
      pointer-events: none;
    }
    .nav_profile_show {
      cursor: pointer;
      @include flex;
      font-weight: 500;
      text-align: center;
      gap: 5px;
      color: $primary-color;
      .profi-name {
        pointer-events: none;
      }
    }
    .dropdown-menu {
      z-index: 100;
      height: 0;
      overflow: hidden;
      position: absolute;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
      left: auto;
      right: 0;
      top: 50px;
      padding: 0 20px;
      transition: height 0.25s linear;
      .show {
        height: auto;
      }
      .cotrol-user {
        display: flex;
        flex-direction: column;
        .dropdown-item {
          padding: 10px 10px;
          border-radius: 3px;
          cursor: pointer;
          border-bottom: 1px solid #ccc;
          transition: background 0.25s linear;
          font-size: 14px;
          &:hover {
            background-color: #ccc;
          }
        }
        .dropdown-item:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
@include maxw(1024px) {
  .main .content .wrap_nav {
    display: none;
  }
}

@include maxw(870px) {
  .main .side_bar {
    position: fixed;
    z-index: 999;
  }
  .main .side_zoom {
    position: fixed;
    top: 0;
    transform: translateX(-100%);
  }
}
